* {
  text-align: center;
  background-color: #FFC196;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(245, 232, 232);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

